/* Cores

#F2F2F2 - branco
#F26430 - laranja
#F2522E - laranja escuro
#F20505 - vermelho
#730202 - vinho


font-family: 'Montserrat', sans-serif;
font-stretch: condensed;
font-family: Arial;
Font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
font-family: "Candal", sans-serif;

*/